@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700,400);

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1fa67a;
  cursor: default;
  color: #fff;
}

.portrait,
.name,
.links {
  margin: 50px 0px;
}

.portrait {
  transition: width 200ms;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid #fff;
}

.name {
  transition: font-size 200ms;
  text-align: center;
  font-size: 96px;
  font-weight: 100;
}

.links {
  height: 50px;
  line-height: 50px;
  font-size: 32px;
  text-align: center;
}

.links a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  margin: 0px 20px;
}

.links a i {
  transition: all 200ms;
}

.links a:hover i {
  color: #000;
  transform: scale(2);
}

@media (max-width: 600px) {

  .portrait {
    width: 120px;
  }

  .name {
    font-size: 48px;
  }

  .links {
    font-size: 24px;
  }

}
